@model IEnumerable<SalveminiApi.Models.Utenti>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cognome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sesso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Classe)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Corso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Stato)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Creazione)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ArgoToken)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cognome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sesso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Classe)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Corso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Stato)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Creazione)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ArgoToken)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
