@model SalveminiApi.Models.Utenti

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Utenti</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cognome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cognome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sesso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sesso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Classe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Classe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Corso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Corso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Stato)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stato)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Creazione)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Creazione)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
