@model IEnumerable<SalveminiApi.Models.Avvisi>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Titolo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descrizione)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Immagini)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Creazione)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SendNotification)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Utenti.Nome)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Titolo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descrizione)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Immagini)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Creazione)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SendNotification)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Utenti.Nome)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
